{% extends "layouts/default.njk" %}

{% block content %}

  <main class="main">
    <div class="container">

      <p>Index page</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas veniam, nam deserunt placeat, laudantium blanditiis, quo iusto iste similique quis assumenda adipisci facere corporis quisquam vitae maiores molestiae eum quae.</p>
    </div>
  </main>

{% endblock %}