{% extends "layouts/default.njk" %}

{% block content %}

<main class="main">
  <div class="container">
    <div class="pages">
      <h3>Все страницы верстки</h3>
      <ul class="site-links list--nostyle">
        <!-- inject:html -->
        <!-- endinject -->
      </ul>
    </div>
  </div>
  <style media="screen">
    .site-links {
      font-size: 18px;
      margin: 0;
      padding: 0;
    }

    .site-links li {
      list-style-type: none;
      margin-bottom: .5em;
    }
  </style>
</main> <!-- end main -->
{% endblock %}