
<footer class="footer">
  <div class="container clearfix">
  	<p>This is footer!</p>
    <figure class="logo pull-right"><a href="/rocketfirm.com"><img src="images/logo.png" alt="Ракетная фирма"></a></figure>
  </div>
</footer>
