
.nav-link {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	transition: .3s;
	outline: none !important;
	color: #000;
	font-weight: normal;
	line-height: 1;
	&:focus {
		color: #000;
	}
	&:hover,
	&:active {
		color: $color-primary;
		transition: none;
	}
}
