
// fonts
$font-primary-regular: 'PTSans-Regular', Helvetica, Arial, sans-serif;
$font-primary-bold: 'PTSans-Bold', Helvetica, Arial, sans-serif;

$font-secondary-regular: Helvetica, Arial, sans-serif;

$font-icons: 'websymbolsligaregular';

$font-numbers: 'Helvetica Neue', Arial, sans-serif;

// colors
$color-primary: #000;
$color-secondary: #000;
$color-gray: #e6e6e6;

// transitions
$transition-primary: .3s;
