
// fonts
$font-primary-regular: 'Montserrat', Arial, sans-serif;

$font-icons: 'websymbolsligaregular';

$font-numbers: 'Helvetica Neue', Arial, sans-serif;

// colors
$color-primary: #333333;
$color-secondary: #4D526B;
$color-red: #E66958;
$color-grey: #CFCAC6;

// transitions
$transition-primary: .3s;

$imgBase: '../images/';

$small: 560px;
$middle: 760px;
$tablet: 1000px;
$laptop: 1170px;
$desktop: 1300px;
$wide: 1400px;
$large: 1800px;
